body {
    background-color: rgb(25, 160, 233);
    margin:300px;
    
}

/* Styling the Title and giving
shadow to the title */
#title {
    padding-top:20px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(228, 228, 22);
    font-size: 7vh;
}

/* Setting width and display
type of image */
img {
    width: 100%;
    
}

/* Setting font color and font
size of the image-caption */
#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: rgb(15, 16, 15);
}

/* Styling the content of the page like-
padding, font-size, font color etc.*/
div#tribute-data {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px yellow;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

/* Styling the title of the content */
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

/* Styling the link provided at the end */
#tribute-link {
    text-decoration: none;
    color: rgb(176, 25, 25);
}
